@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  background: #66a3ff;
  font-family: 'Lobster', cursive;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dashboard {
  width: 50%;
  height: 50%;
  display: flex;
}

.theme {
  width: 50%;
  height: 100%;
  background: url(./img/sunny-weather.png) center/cover;
  background-size: 600px 500px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.weather-box {
  width: 50%;
  height: 100%;
  background: #1a75ff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 20px 40px;
}

.weather-input {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.7;
  box-shadow: 4px 4px rgba(0, 0, 0, .2);
}

.weather-info {
  margin-top: 20px;
  color: #fff;
  line-height: 2;
  font-weight: lighter;
  display: flex;
  font-size: 15px;
}

.weather-info .info {
  margin-left: 10%;
}

.shadowed-text {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.fas {
  margin-left: 5px;
}

.fa-sun {
  color: yellow;
}

.fa-cloud-rain, .fa-cloud {
  color: lightgray;
}